.features-list {
  &__item {
    width: 100%;
    margin-bottom: 30px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 10px;
    color: $heading-color;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $secondary-background-color;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: $tablet) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
      width: calc(50% - 15px);
    margin-bottom: 0;
    }
    &__title {
      text-align: start;
    }
  }
}
@media screen and (min-width: $desktop) {
  .features-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    &__item {
      width: calc((100% - 15px) / 4);
    }
  }
}
